*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/config/applicationhost.config
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/a45e4d5b-2e13-44bd-96ee-d94b111a764f.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/config/applicationhost.config
