*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/config/applicationhost.config
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/a45e4d5b-2e13-44bd-96ee-d94b111a764f.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/config/applicationhost.config
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/e78899ab-d6f0-4b91-aa31-5395d7787f93.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/v17/.suo
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/2b1d499d-50e6-43c7-bbd3-6eb8b01318e4.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/489d345e-eab3-4844-acf0-db9139a35bf3.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/a71a433a-cfc1-4b89-8f8e-cda59b8fa2f4.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/be1f22c8-911c-418a-afb1-d18e005b2acc.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/de01d5f8-2a86-41b6-b9ae-a99b3bb2039c.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/5c452594-a99c-49e5-9a2b-f6ed90821a68.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/5cfc27ed-4a1e-47cc-8c36-4df36b8d0296.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/1b829868-08c0-4e08-935d-b32e1d4b1a05.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/27a85ac1-2826-4f07-958e-7f4066d6226f.vsidx
/.vs/Sistema Web de Gestión de Ventas y Control de Inventario/FileContentIndex/361d551c-daea-4183-873d-46f241448c40.vsidx
