@{
    ViewBag.Title = "Dashboard";
}

<h1 class="mt-4">Dashboard principal</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Visualización de resultados de proyecciones</li>
</ol>

<div class="card mb-4 bg-info bg-opacity-10">
    <div class="card-header">
        <i class="fas fa-file-alt me-1"></i>
        Dashboard
    </div>
    <div class="card mb-4 bg-info bg-opacity-10">
        <div class="card-header">
            <i class="fas fa-file-alt me-1"></i>
            Dashboard - Resultados de Proyecciones
        </div>
        <div class="card-body">
            <div id="resultadosPredicciones">
                <p><strong>Ventas proyectadas:</strong> <span id="ventasProyectadas">Cargando...</span></p>
                <p><strong>Utilidad proyectada:</strong> <span id="utilidadProyectada">Cargando...</span></p>
                <p><strong>Unidades proyectadas:</strong> <span id="unidadesProyectadas">Cargando...</span></p>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
   
            obtenerPredicciones();

            function obtenerPredicciones() {
                var url = '@Url.Action("ObtenerPrediccionesDashboard", "Mantenedor")'; 

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (data) {
                    
                        var ventas = parseFloat(data.Ventas);
                        var utilidad = parseFloat(data.Utilidad);
                        var unidades = parseFloat(data.Unidades);

                        if (!isNaN(ventas)) {
                            $("#ventasProyectadas").text(ventas.toFixed(2));
                        } else {
                            $("#ventasProyectadas").text("Datos no válidos");
                        }

                        if (!isNaN(utilidad)) {
                            $("#utilidadProyectada").text(utilidad.toFixed(2));
                        } else {
                            $("#utilidadProyectada").text("Datos no válidos");
                        }

                        if (!isNaN(unidades)) {
                            $("#unidadesProyectadas").text(unidades.toFixed(0));
                        } else {
                            $("#unidadesProyectadas").text("Datos no válidos");
                        }

                        
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al obtener las predicciones:", error);
                        $("#ventasProyectadas").text("Error al cargar datos");
                        $("#utilidadProyectada").text("Error al cargar datos");
                        $("#unidadesProyectadas").text("Error al cargar datos");
                    }
                });
            }
        });
    </script>
}