@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>

    <!-- ==== STYLE.CSS ==== -->
    <link rel="stylesheet" href="~/Content/stylewp.css" />

    <!-- ====  REMIXICON CDN ==== -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
          rel="stylesheet" />

    <!-- ==== ANIMATE ON SCROLL CSS CDN  ==== -->
</head>

<body>
    <section class="wrapper">
        <div class="container">
            <div class="grid-cols-2">
                <div class="grid-item-1">
                    <h1 class="main-heading">
                        Bienvenido al Sistema Web
                        <br />
                        de proyecciones de <span>Distribuidora Sayer</span>
                    </h1>
                </div>
                <div class="grid-item-2">
                    <div class="team_img_wrapper">
                        <img src="~/Content/images/inv-ferre.svg" alt="team-img" />
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    
</body>
